@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
}